[submodule "drawlib"]
	path = drawlib
	url = https://github.com/TimSC/drawlib.git
[submodule "cppo5m"]
	path = cppo5m
	url = https://github.com/TimSC/cppo5m.git
[submodule "cppGzip"]
	path = cppGzip
	url = https://github.com/TimSC/cppGzip.git
[submodule "mbtiles-cpp"]
	path = mbtiles-cpp
	url = https://github.com/TimSC/mbtiles-cpp.git
